<!DOCTYPE html>
<html>
    <head>
        <title>Predict prices</title>

        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    </head>
    <body>
        <div class="main-container">
            <h class="header">
                Predict real estate prices
            </h>
            <div>

            </div>

            <button>
                Send
            </button>

            <div class="result">

            </div>
        </div>
    </body>
    <script src="{{url_for('static', filename='main.js')}}" async></script>
</html>